{% load static %}
<section class="application">
    <div class="left_block">
        <div class="top_panel">
            <div class="h2">Время на оплату заявки: ID {{ active_application.id }}</div>
             <div class="timer" id="timer-container">
                <span class="taken-time" data-taken-time="{{ active_application.taken_time|date:"c" }}"></span>
                <span id="timer">Загрузка...</span>
            </div>
            <div>
            <input type="hidden" id="application_id" value="{{ active_application.id }}">
                <ul>
                    <li>
                      <div>Статус заявки</div>
                      <div></div>
                      <div class="status">
                        {% if active_application.status == "new" %}
                          Новая
                        {% elif active_application.status == "active" %}
                          Активна
                        {% elif active_application.status == "processing" %}
                          В обработке
                        {% elif active_application.status == "completed" %}
                          Завершена
                        {% elif active_application.status == "canceled" %}
                          Отменена
                        {% else %}
                          {{ active_application.status }}
                        {% endif %}
                      </div>
                    </li>
                    <li><div>ID</div><div></div><div>{{ active_application.id }}</div></li>
                    <li>
                      <div>Тип</div>
                      <div></div>
                      <div>
                        {% if active_application.type == "sbp" %}
                          СБП
                        {% elif active_application.type == "c2c" %}
                          С2С
                        {% else %}
                          {{ active_application.type }}
                        {% endif %}
                      </div>
                    </li>
                    <li><div>Сумма</div><div></div><div>{{ active_application.amount }} RUB</div></li>
                    <li><div>Реквизиты</div><div></div><div>{{ active_application.payment_details }}</div></li>
                    <li><div>Банк получателя</div><div></div><div>{{ active_application.to_bank }}</div></li>
                    <li><div>Время создания </div><div></div><div>{{ active_application.created_at }}</div></li>
                    <li><div>Время взятия </div><div></div><div>{{ active_application.taken_time }}</div></li>
                </ul>
            </div>
        </div>
        <div class="bot_panel" onclick="openModal()">
            <img src="{% static 'img/trabl.svg' %}">
            <a style="cursor: pointer">Проблема с оплатой</a>
        </div>
    </div>
    <div class="right_block">
        <div class="h1">Ваша активная заявка</div>
        <div class="h2">
            {% if active_application.type == 'sbp' %}
                1. Выполните перевод по СБП:
                <img src="{% static 'img/spb.svg' %}">
            {% elif active_application.type == 'c2c' %}
                1. Выполните перевод по номеру карты:
                <img src="{% static 'img/card.svg' %}">

            {% endif %}
        </div>
        <div class="h3">Сумма перевода</div>
        <label class="input_text">
            <input type="text" readonly placeholder="{{ active_application.amount }} RUB" value="{{ active_application.amount }} RUB">
            <img class="copy" style="cursor: pointer" src="{% static 'img/copy.svg' %}">
        </label>
        <hr>
        <div class="h2">2. Строго по реквизитам в указанном банке</div>
        <div class="h3">
            {% if active_application.type == 'sbp' %}
                Номер телефона
            {% elif active_application.type == 'c2c' %}
                Номер карты
            {% endif %}
        </div>
        <label class="input_text">
            <input type="text" readonly placeholder="{{ active_application.payment_details }}" value="{{ active_application.payment_details }}">
            <img class="copy" style="cursor: pointer" src="{% static 'img/copy.svg' %}">
        </label>
        <hr>
        {% if active_application.status == 'active' %}
        <div id="original-content">
            <div class="h2">3. Укажите банк, с которого оплатили</div>
            <label class="select_label">
                <select name="bank_sender" style="cursor: pointer">
                    <option value="" disabled selected>Выберите банк</option>
                    {% for bank in banks %}
                        <option value="{{ bank }}">{{ bank }}</option>
                    {% endfor %}
                </select>
            </label>
            <hr>
            <div class="h2">4. Загрузите чек об операции</div>
            <label>
                <div class="upload_zone_dragover">
                    <span><img src="{% static 'img/file.svg' %}">Перетащите файл сюда или нажмите чтобы выбрать</span>
                    <input class="form_upload_input" id="uploadForm_File" type="file" style="display: none" name="file_name" aria-describedby="hint">
                </div>
            </label>
            <a class="send_check_btn btn_b">Отправить чек на проверку</a>
        </div>
        <div id="loading-indicator" style="display: none">
            <div class="spinner"></div>
            <div class="loading-text">Загрузка...</div>
        </div>
        {% else %}
        <div class="h2">Указанный банк с которого провелась оплата</div>
        <label class="input_text">
            <input type="text" readonly placeholder="{{ active_application.from_bank }}" value="{{ active_application.from_bank }}">
            <img class="copy" style="cursor: pointer" src="{% static 'img/copy.svg' %}">
        </label>
        <a class="send_confirm_btn btn_b">Подтвердить</a>
        {% endif %}
    </div>
</section>
