{% load tz %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>BadData</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
        <style>
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    font-size: 20px; /* Уменьшаем шрифт */
    max-width: 200px; /* Ограничиваем максимальную ширину */
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 10; /* Убедитесь, что значение выше, чем у других элементов */
    top: 100%; /* Расположить под элементом */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    word-wrap: break-word; /* Перенос слов */
    white-space: normal; /* Позволяет перенос строк */
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


/* Контейнер для уведомлений */
#notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    z-index: 9999;
}

/* Стили для уведомлений */
.notification {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
    display: none; /* Скрыто по умолчанию */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
}

/* Кнопка закрытия уведомления */
.notification .close {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* Стили для иконок */
.notification .icon {
    float: left;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.success-icon {
    background-color: #28a745; /* Зеленый фон */
}

.error-icon {
    background-color: #dc3545; /* Красный фон */
}

/* Стили для содержимого сообщения */
.notification .message-content {
    overflow: hidden;
}
        </style>

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body class="page_personal_account">
        <div id="user-menu">
            {% include 'main_site/user_menu.html' %}
        </div>
        <main class="main">
            <section class="dalance">
                <div class="h1">Личный кабинет</div>
                <div class="dalance_tab">
                    <div class="tab_left">
                        <div class="title">
                            <span class="h2">
                                <img src="{% static 'img/bid.svg' %}"> Выполненные заявки
                            </span>
                            <label class="input_date_on_placeholder">
                                <input id="date_application" placeholder="Выбрать период:" type="text"
                                       onfocus="this.type='date'"
                                       onblur="if(this.value==''){this.type='text'}"/>
                            </label>
                            <a class="btn_g" id="filter_button">Фильтровать</a>
                        </div>
                        <div class="tab_left_val"><b>{{ all_time_sum }}</b> RUB</div>
                        <div class="h3">Успешные сделки: {{ applications_count }}</div>
                    </div>

                    <div class="tab_right">
                        <div class="title">
                            <span class="h2"><img src="{% static 'img/balance.svg' %}">Баланс</span>
                        </div>
                        <div class="tab_right_val"><b>{{ balance }}</b> USDT</div>
                        <a class="tab_right_button" style="cursor: pointer" onclick="openModal()">Создать запрос на вывод</a>
                    </div>
                </div>
            </section>
            <section class="requests">
                <div class="h1" style="display: flex; justify-content: space-between; align-items: center;">
                    <span>Мои запросы на вывод средств</span>
                    <div class="filter-container" style="display: inline-flex; align-items: center; gap: 10px;">
                        <label class="input_date_on_placeholder">
                            <div class="tooltip">
                                <input id="date_withdrawal" placeholder="Выбрать период:" type="text"
                                       onfocus="this.type='date'"
                                       onblur="if(this.value==''){this.type='text'}"/>
                                <div class="tooltip-text">Крайняя дата исполнения вывода</div>
                            </div>
                        </label>
                        <a class="btn_b filter_btn" style="cursor: pointer;" onclick="filterWithdrawals()">Фильтровать</a>
                    </div>
                </div>
                <div class="requests_table">
                    <table>
                        <tr class="table_head">
                            <th>ID</th>
                            <th>Дата запроса</th>
                            <th>Дата исполнения</th>
                            <th>Сумма (USDT)</th>
                            <th>Хэш транзакции</th>
                            <th>Статус</th>
                        </tr>

                        {% for withdrawal in withdrawals %}
                        <tr>
                            <th>{{ withdrawal.id }}</th>
                            <th>{{ withdrawal.request_date }}</th>
                            <th>{{ withdrawal.execution_date|localtime|default:"None" }}</th>

                            <!-- Применение классов цвета в зависимости от статуса -->
                            <th class="{% if withdrawal.status == 'processing' %}y{% elif withdrawal.status == 'canceled' %}r{% elif withdrawal.status == 'completed' %}g{% endif %}">
                                {{ withdrawal.amount }} USDT
                            </th>

                            <th>{{ withdrawal.transaction_hash|default:"-" }}</th>

                            <!-- Статус с цветом -->
                            <th class="{% if withdrawal.status == 'processing' %}y{% elif withdrawal.status == 'canceled' %}r{% elif withdrawal.status == 'completed' %}g{% endif %}">
                                {% if withdrawal.status == 'processing' %}
                                    В обработке
                                {% elif withdrawal.status == 'canceled' %}
                                    Отклонено
                                {% elif withdrawal.status == 'completed' %}
                                    Одобрено
                                {% endif %}
                            </th>
                        </tr>
                        {% empty %}
                        <tr>
                            <th colspan="6">Нет данных для отображения</th>
                        </tr>
                        {% endfor %}
                    </table>

                    <div class="requests_table_footer">
                        <div class="requests_value">
                            <select name="requests_value" id="rowsPerPageSelect">
                                <option value="15" {% if rows_per_page == 15 %}selected{% endif %}>15</option>
                                <option value="50" {% if rows_per_page == 50 %}selected{% endif %}>50</option>
                                <option value="100" {% if rows_per_page == 100 %}selected{% endif %}>100</option>
                            </select>
                            <a href="#" onclick="applyRowsPerPage()">Применить</a>
                            <div class="coll_line">0 до 100 строк</div>
                        </div>

                        <div class="pagin">
                            <ul>
                                <!-- Отображаем первую страницу с многоточием при необходимости -->
                                {% if 1 not in page_range %}
                                    <li><a href="?page=1&rows_per_page={{ rows_per_page }}{% if request.GET.date_withdrawal %}&date_withdrawal={{ request.GET.date_withdrawal }}{% endif %}">1</a></li>
                                    {% if page_number > 3 %}<li>...</li>{% endif %}
                                {% endif %}

                                <!-- Основной диапазон страниц -->
                                {% for page in page_range %}
                                    <li class="{% if page == page_number %}active{% endif %}">
                                        <a href="?page={{ page }}&rows_per_page={{ rows_per_page }}{% if request.GET.date_withdrawal %}&date_withdrawal={{ request.GET.date_withdrawal }}{% endif %}">
                                            {{ page }}
                                        </a>
                                    </li>
                                {% endfor %}

                                <!-- Отображение многоточия и последней страницы, если текущая страница далека от конца -->
                                {% if total_pages not in page_range %}
                                    {% if page_number < total_pages|add:"-2" %}<li>...</li>{% endif %}
                                    <li><a href="?page={{ total_pages }}&rows_per_page={{ rows_per_page }}{% if request.GET.date_withdrawal %}&date_withdrawal={{ request.GET.date_withdrawal }}{% endif %}">{{ total_pages }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <div class="modal modal_request_withdrawal" style="display: none;">
            <div class="modal_content">
                <button class="close" onclick="closeModal()">
                    <img src="{% static 'img/close.svg' %}">
                </button>
                <div class="modal_title">Запросить вывод средств</div>
                <div class="modal_title_sub">Сумма (USDT)</div>
                <label>
                    <input type="text" id="withdrawal-amount" placeholder="Минимальная сумма: 100 USDT">
                    <span id="error-message" style="color: red; display: none;">Минимальная сумма: 100 USDT</span>
                </label>
                <a class="btn_b" onclick="submitWithdrawalRequest()">Создать запрос</a>
            </div>
        </div>

        <div id="notification-container" style="position: fixed; top: 20px; right: 20px; z-index: 1000;"></div>


        <script src="{% static 'main_site/js/jquery.js' %}"></script>
        <script src="{% static 'main_site/js/csrf_token.js' %}"></script>
        <script src="{% static 'main_site/js/show_notification.js' %}"></script>
        <script>
            const WithdrawalRequestUrl = "{% url 'request_withdrawal' %}";
        </script>
        <script src="{% static 'main_site/js/request_withdrawal.js' %}"></script>
        <script>
            document.getElementById('filter_button').addEventListener('click', function () {
                const dateValue = document.getElementById('date_application').value;
                const url = new URL(window.location.href);

                // Добавляем дату как параметр GET-запроса
                if (dateValue) {
                    url.searchParams.set('date_application', dateValue);
                } else {
                    url.searchParams.delete('date_application');
                }

                // Перенаправляем на обновленный URL
                window.location.href = url.toString();
            });
        </script>
        <script>
            function filterWithdrawals() {
                // Получаем значение даты
                const dateValue = document.getElementById('date_withdrawal').value;

                // Создаем URL с параметром даты
                const url = new URL(window.location.href);
                if (dateValue) {
                    url.searchParams.set('date_withdrawal', dateValue);
                } else {
                    url.searchParams.delete('date_withdrawal'); // Удаляем параметр, если нет даты
                }

                // Перенаправляем на обновленный URL
                window.location.href = url.toString();
            }
        </script>
        <script>
            function applyRowsPerPage() {
                const rowsPerPage = document.getElementById('rowsPerPageSelect').value;
                const url = new URL(window.location.href);
                url.searchParams.set('rows_per_page', rowsPerPage);
                url.searchParams.set('page', 1);  // Сбрасываем на первую страницу
                window.location.href = url.toString();
            }
        </script>
    </body>
</html>
