{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>BadData</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">


        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body class="page_history_applications">
        <div id="user-menu">
            {% include 'main_site/user_menu.html' %}
        </div>
        <main class="main">
            <section class="past_requests">
                <div class="h1">
                    Ваши прошлые заявки
                    <div class="right_block">
                        <label class="label_search">
                            <input type="text" id="search-input" placeholder="Поиск...">
                        </label>
                        <a class="past_requests_find" onclick="searchApplications()">Найти</a>
                        <a href="{% url 'user_generate_report' %}" class="past_requests_create_report">Создать отчёт</a>
                    </div>
                </div>
                <div class="requests_table">
                    <table>
                        <tr class="table_head">
                            <th>ID</th>
                            <th>Тип</th>
                            <th>Сумма<br>перевода</th>
                            <th>Реквизиты</th>
                            <th>Банк<br>получателя</th>
                            <th>Банк<br>отправителя</th>
                            <th>Статус</th>
                            <th>Время<br>создания</th>
                            <th>Время<br>взятия</th>
                            <th>Время<br>завершения</th>
                            <th>Ссылка<br>на чек в PDF</th>
                        </tr>
                        {% for other_application in other_applications %}
                        <tr>
                            <th>{{ other_application.id }}</th>
                            <th>{{ other_application.type }}</th>
                            <th>{{ other_application.amount }}</th>
                            <th>{{ other_application.payment_details }}</th>
                            <th>{{ other_application.to_bank }}</th>
                            <th>{{ other_application.from_bank|default:"None" }}</th>
                            <th class="{% if other_application.status == 'canceled' %}canceled{% elif other_application.status == 'completed' %}completed{% elif other_application.status == 'manual' %}manual{% endif %}">
                                {% if other_application.status == 'canceled' %}
                                    Отклонено
                                {% elif other_application.status == 'completed' %}
                                    Завершено
                                {% elif other_application.status == 'manual' %}
                                    Обработка администратором
                                {% endif %}
                            </th>
                            <th>{{ other_application.created_at|default:"None" }}</th>
                            <th>{{ other_application.taken_time|default:"None" }}</th>
                            <th>{{ other_application.completed_time|default:"None" }}</th>
                            <th>{% if other_application.receipt_link %}<a href="{{ other_application.receipt_link }}" target="_blank">Ссылка</a>{% else %}None{% endif %}</th>

                        </tr>
                        {% empty %}
                        <tr>
                            <th colspan="6">Нет данных для отображения</th>
                        </tr>
                        {% endfor %}
                    </table>
                    <div class="requests_table_footer">
                        <div class="requests_value">
                            <select name="requests_value" id="rowsPerPageSelect">
                                <option value="15" {% if rows_per_page == 15 %}selected{% endif %}>15</option>
                                <option value="50" {% if rows_per_page == 50 %}selected{% endif %}>50</option>
                                <option value="100" {% if rows_per_page == 100 %}selected{% endif %}>100</option>
                            </select>
                            <a href="#" onclick="applyRowsPerPage()">Применить</a>
                            <div class="coll_line">0 до 100 строк</div>
                        </div>

                        <div class="pagin">
                            <ul>
                                <!-- Отображаем первую страницу с многоточием при необходимости -->
                                {% if 1 not in page_range %}
                                    <li><a href="?page=1&rows_per_page={{ rows_per_page }}{% if request.GET.date_withdrawal %}&date_withdrawal={{ request.GET.date_withdrawal }}{% endif %}">1</a></li>
                                    {% if page_number > 3 %}<li>...</li>{% endif %}
                                {% endif %}

                                <!-- Основной диапазон страниц -->
                                {% for page in page_range %}
                                    <li class="{% if page == page_number %}active{% endif %}">
                                        <a href="?page={{ page }}&rows_per_page={{ rows_per_page }}{% if request.GET.date_withdrawal %}&date_withdrawal={{ request.GET.date_withdrawal }}{% endif %}">
                                            {{ page }}
                                        </a>
                                    </li>
                                {% endfor %}

                                <!-- Отображение многоточия и последней страницы, если текущая страница далека от конца -->
                                {% if total_pages not in page_range %}
                                    {% if page_number < total_pages|add:"-2" %}<li>...</li>{% endif %}
                                    <li><a href="?page={{ total_pages }}&rows_per_page={{ rows_per_page }}{% if request.GET.date_withdrawal %}&date_withdrawal={{ request.GET.date_withdrawal }}{% endif %}">{{ total_pages }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <script src="{% static 'main_site/js/jquery.js' %}"></script>
    <script>
        function applyRowsPerPage() {
            const rowsPerPage = document.getElementById('rowsPerPageSelect').value;
            const url = new URL(window.location.href);
            url.searchParams.set('rows_per_page', rowsPerPage);
            url.searchParams.set('page', 1);  // Сбрасываем на первую страницу
            window.location.href = url.toString();
        }
    </script>
    <script>
        function searchApplications() {
            const searchText = document.getElementById("search-input").value;
            const url = new URL(window.location.href);

            // Устанавливаем параметр поиска в URL
            url.searchParams.set('search', searchText);

            // Перенаправляем на URL с параметром поиска
            window.location.href = url.toString();
        }
    </script>
    </body>
</html>