{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">

    <!-- Подключаем Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .table-container {
            max-height: 600px; /* Ограничиваем высоту таблицы */
            overflow-y: auto; /* Вертикальная прокрутка */
        }
        .sort-icon {
            font-size: 12px;
        }
        .sortable-column {
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .sortable-column:hover {
            background-color: #f1f1f1; /* Цвет при наведении */
        }
        .active-sort {
            background-color: #e9ecef; /* Цвет активной колонки */
        }
        .custom-container {
            max-width: 1300px; /* Меняйте значение по своему усмотрению */
        }
    </style>
</head>
<body>
<div class="container custom-container mt-5">
    <h1 class="text-center">Личный кабинет</h1>

    <!-- Форма фильтрации заявок -->
    <form method="get" action="" class="form-inline mb-4">
        <div class="form-group mx-sm-3 mb-2">
            <label for="status" class="mr-2">Статус заявки:</label>
            <select name="status" id="status" class="form-control">
                <option value="">Все</option>
                <option value="new" {% if request.GET.status == 'new' %}selected{% endif %}>New</option>
                <option value="completed" {% if request.GET.status == 'completed' %}selected{% endif %}>Completed</option>
                <option value="active" {% if request.GET.status == 'active' %}selected{% endif %}>Active</option>
                <option value="canceled" {% if request.GET.status == 'canceled' %}selected{% endif %}>Canceled</option>
                <option value="manual" {% if request.GET.status == 'manual' %}selected{% endif %}>Manual</option>

            </select>
        </div>

        <div class="form-group mx-sm-3 mb-2">
            <label for="start_date" class="mr-2">Дата от:</label>
            <input type="date" name="start_date" id="start_date" class="form-control"
                   value="{{ request.GET.start_date }}">
        </div>

        <div class="form-group mx-sm-3 mb-2">
            <label for="end_date" class="mr-2">Дата до:</label>
            <input type="date" name="end_date" id="end_date" class="form-control"
                   value="{{ request.GET.end_date }}">
        </div>

        <button type="submit" class="btn btn-primary mb-2">Фильтровать</button>
    </form>

    <div class="container custom-container mt-5">
      <div class="row">
        <!-- Количество созданных заявок -->
        <div class="col-md-4">
          <div class="card text-white bg-primary mb-3">
            <div class="card-header">Количество созданных заявок</div>
            <div class="card-body">
              <h5 class="card-title">{{ total_created }}</h5>
            </div>
          </div>
        </div>
        <!-- Количество выполненных заявок -->
        <div class="col-md-4">
          <div class="card text-white bg-success mb-3">
            <div class="card-header">Количество выполненных заявок</div>
            <div class="card-body">
              <h5 class="card-title">{{ total_completed }}</h5>
            </div>
          </div>
        </div>
        <!-- Общая сумма заявок в рублях -->
        <div class="col-md-4">
          <div class="card text-white bg-info mb-3">
            <div class="card-header">Общая сумма заявок в рублях</div>
            <div class="card-body">
              <h5 class="card-title">{{ total_amount }} ₽</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Контейнер для таблицы с прокруткой -->
    <div class="table-container">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="sortable-column {% if current_order_by == 'id' %}active-sort{% endif %}">
                    <a href="?order_by=id&direction={% if current_order_by == 'id' and current_direction == 'asc' %}desc{% else %}asc{% endif %}">
                        ID
                        {% if current_order_by == 'id' %}
                            <span class="sort-icon">{% if current_direction == 'asc' %}▲{% else %}▼{% endif %}</span>
                        {% endif %}
                    </a>
                </th>
                <th scope="col" class="sortable-column {% if current_order_by == 'type' %}active-sort{% endif %}">
                    <a href="?order_by=type&direction={% if current_order_by == 'type' and current_direction == 'asc' %}desc{% else %}asc{% endif %}">
                        Тип
                        {% if current_order_by == 'type' %}
                            <span class="sort-icon">{% if current_direction == 'asc' %}▲{% else %}▼{% endif %}</span>
                        {% endif %}
                    </a>
                </th>
                <th scope="col" class="sortable-column {% if current_order_by == 'to_bank' %}active-sort{% endif %}">
                    <a href="?order_by=to_bank&direction={% if current_order_by == 'to_bank' and current_direction == 'asc' %}desc{% else %}asc{% endif %}">
                        Банк получателя
                        {% if current_order_by == 'to_bank' %}
                            <span class="sort-icon">{% if current_direction == 'asc' %}▲{% else %}▼{% endif %}</span>
                        {% endif %}
                    </a>
                </th>
                <th scope="col" class="sortable-column {% if current_order_by == 'from_bank' %}active-sort{% endif %}">
                    <a href="?order_by=from_bank&direction={% if current_order_by == 'from_bank' and current_direction == 'asc' %}desc{% else %}asc{% endif %}">
                        Банк отправителя
                        {% if current_order_by == 'from_bank' %}
                            <span class="sort-icon">{% if current_direction == 'asc' %}▲{% else %}▼{% endif %}</span>
                        {% endif %}
                    </a>
                </th>
                <th scope="col" class="sortable-column {% if current_order_by == 'status' %}active-sort{% endif %}">
                    <a href="?order_by=status&direction={% if current_order_by == 'status' and current_direction == 'asc' %}desc{% else %}asc{% endif %}">
                        Статус
                        {% if current_order_by == 'status' %}
                            <span class="sort-icon">{% if current_direction == 'asc' %}▲{% else %}▼{% endif %}</span>
                        {% endif %}
                    </a>
                </th>
                <th scope="col" class="sortable-column {% if current_order_by == 'amount' %}active-sort{% endif %}">
                    <a href="?order_by=amount&direction={% if current_order_by == 'amount' and current_direction == 'asc' %}desc{% else %}asc{% endif %}">
                        Сумма
                        {% if current_order_by == 'amount' %}
                            <span class="sort-icon">{% if current_direction == 'asc' %}▲{% else %}▼{% endif %}</span>
                        {% endif %}
                    </a>
                </th>
                <th scope="col" class="sortable-column {% if current_order_by == 'created_at' %}active-sort{% endif %}">
                    <a href="?order_by=created_at&direction={% if current_order_by == 'created_at' and current_direction == 'asc' %}desc{% else %}asc{% endif %}">
                        Время создания
                        {% if current_order_by == 'created_at' %}
                            <span class="sort-icon">{% if current_direction == 'asc' %}▲{% else %}▼{% endif %}</span>
                        {% endif %}
                    </a>
                </th>
                <th scope="col" class="sortable-column {% if current_order_by == 'taken_time' %}active-sort{% endif %}">
                    <a href="?order_by=taken_time&direction={% if current_order_by == 'taken_time' and current_direction == 'asc' %}desc{% else %}asc{% endif %}">
                        Время взятия
                        {% if current_order_by == 'taken_time' %}
                            <span class="sort-icon">{% if current_direction == 'asc' %}▲{% else %}▼{% endif %}</span>
                        {% endif %}
                    </a>
                </th>
                <th scope="col" class="sortable-column {% if current_order_by == 'completed_time' %}active-sort{% endif %}">
                    <a href="?order_by=completed_time&direction={% if current_order_by == 'completed_time' and current_direction == 'asc' %}desc{% else %}asc{% endif %}">
                        Время завершения
                        {% if current_order_by == 'completed_time' %}
                            <span class="sort-icon">{% if current_direction == 'asc' %}▲{% else %}▼{% endif %}</span>
                        {% endif %}
                    </a>
                </th>
                <th scope="col">Ссылка на чек</th>
                <th scope="col">ID Мерчанта</th>
                <th scope="col" class="sortable-column {% if current_order_by == 'user_id' %}active-sort{% endif %}">
                    <a href="?order_by=user_id&direction={% if current_order_by == 'user_id' and current_direction == 'asc' %}desc{% else %}asc{% endif %}">
                        ID Юзера
                        {% if current_order_by == 'user_id' %}
                            <span class="sort-icon">{% if current_direction == 'asc' %}▲{% else %}▼{% endif %}</span>
                        {% endif %}
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for application in applications %}
            <tr>
                <th scope="row">{{ application.id }}</th>
                <td>{{ application.type }}</td>
                <td>{{ application.to_bank }}</td>
                <td>{{ application.from_bank }}</td>
                <td>{{ application.status }}</td>
                <td>{{ application.amount }}</td>
                <td>{{ application.created_at|date:"d.m.Y H:i" }}</td>
                <td>{% if application.taken_time %}{{ application.taken_time|date:"d.m.Y H:i" }}{% else %}N/A{% endif %}</td>
                <td>{% if application.completed_time %}{{ application.completed_time|date:"d.m.Y H:i" }}{% else %}N/A{% endif %}</td>
                <td>{% if application.receipt_link %}<a href="{{ application.receipt_link }}" target="_blank">Ссылка</a>{% else %}N/A{% endif %}</td>
                <td>{{ application.merchant }}</td>
                <td>{{ application.executor }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="13" class="text-center">Заявок нет</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Кнопка выхода -->
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-block mt-4">Выйти из аккаунта</button>
    </form>
</div>

<!-- Подключаем Bootstrap JS и jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
